{% extends "index.html" %} {% block contents %}
<table>
  <thead style="margin-left: 130%; display: flex; width: 80%">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Quantities</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.price }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endblock %}
</table>
